{% extends 'base_generic.html' %}

{% block script %}
<script type="text/javascript">
        function getToken(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

      </script>
{% endblock %}

{% block content %}
  <h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Card</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
